@model IEnumerable<ProjInter_MVC.Models.JogoViewModel>
@{ 
    ViewBag.Title = "Index"; 
}
@if (@TempData["Mensagem"] != null) 
{
    <div class="alert alert-success" role="alert">
    @TempData["Mensagem"]</div>
}
@if (@TempData["MensagemErro"] != null) 
{
    <div class="alert alert-danger" role="alert">
    @TempData["MensagemErro"]</div>
}


@{ViewBag.Title = "Jogos"; }

<!--Título da página para o navegador-->
<h2>Lista de Jogos</h2>
<!--Título da página-->
<p>
    <!--Links apontando para views na mesma pasta-->
    @Html.ActionLink("Adicionar Novo Jogo", "Create")
</p>
<table class="table">
    <tr>
        <!--Títulos das colunas da tabela-->
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Genero)</th>
        <th></th>
    </tr>
    <!--Looping para escrever os dados na tabela-->
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Genero)</td>
            <td>
                <!--Coluna para Links/botões-->
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                
            </td>
        </tr>
    }
</table>